CREATE DATABASE QLTT
GO

USE QLTT
GO

CREATE TABLE KHOA(
	MaKhoa varchar(10),
	TenKhoa nvarchar(30)
	PRIMARY KEY(MaKhoa),
)
GO

CREATE TABLE BOMON(
	MaBoMon varchar(10),
	TenBoMon nvarchar(30),
	MaKhoa varchar(10),
	PRIMARY KEY(MaBoMon),
	CONSTRAINT FK_BM_K FOREIGN KEY (MaKhoa) REFERENCES KHOA(MaKhoa)
)
GO

CREATE TABLE NGANH(
	MaNganh varchar(10),
	TenNganh nvarchar(30),
	PRIMARY KEY(MaNganh)
)
GO

CREATE TABLE LOP(
	MaLop varchar(10),
	TenLop nvarchar(40),
	MaNganh varchar(10),
	MaBoMon varchar(10),
	PRIMARY KEY(MaLop),
	CONSTRAINT FK_L_BM FOREIGN KEY (MaBoMon) REFERENCES BOMON(MaBoMon),
	CONSTRAINT FK_L_N FOREIGN KEY (MaNganh) REFERENCES NGANH(MaNganh)
)
GO

CREATE TABLE HOCVI(
	MaHV varchar(10),
	TenHV nvarchar(20),
	PRIMARY KEY(MaHV),
)
GO

CREATE TABLE GIANGVIEN(
	MaGV varchar(10),
	TenGV nvarchar(30),
	SDTGV varchar(10),
	EmailGV varchar(50),
	MaHV varchar(10),
	MaBoMon varchar(10),
	PRIMARY KEY(MaGV),
	CONSTRAINT FK_GV_BM FOREIGN KEY (MaBoMon) REFERENCES BOMON(MaBoMon),
	CONSTRAINT FK_GV_HV FOREIGN KEY (MaHV) REFERENCES HOCVI(MaHV)
)
GO

CREATE TABLE SINHVIEN(
	MaSV varchar(10),
	TenSV nvarchar(30),
	SDTSV varchar(10),
	EmailSV varchar(23),
	GioiTinh nvarchar(3),
	NgaySinh datetime,
	QueQuan nvarchar(20),
	MaLop varchar(10),
	PRIMARY KEY(MaSV),
	CONSTRAINT FK_SV_L FOREIGN KEY (MaLop) REFERENCES LOP(MaLop),
)
GO

CREATE TABLE KINHPHIHOTRO(
	IDKinhPhi int,
	SoKM float,
	SoTien float,
	PRIMARY KEY(IDKinhPhi),
)
GO

CREATE TABLE DONVITHUCTAP(
	MaDV varchar(10),
	TenDV nvarchar(50),
	DiaChiDV nvarchar(100),
	SDTDV varchar(10),
	PRIMARY KEY(MaDV),
)
GO

CREATE TABLE CANBODONVI(
	MaCB varchar(10),
	TenCB nvarchar(30),
	SDTCB varchar(10),
	EmailCB varchar(50),
	MaDV varchar(10),
	PRIMARY KEY(MaCB),
	CONSTRAINT FK_CBDV_DV FOREIGN KEY (MaDV) REFERENCES DONVITHUCTAP(MaDV)
)
GO

CREATE TABLE PHIEUCHAM(
	MaPhieu varchar(10),
	TenPhieu nvarchar(30),
	SoDiem float,
	NgayCham datetime,
	NhanXet nvarchar(200),
	MaSV varchar(10),
	MaGV varchar(10),
	MaCB varchar(10),
	PRIMARY KEY(MaPhieu),
	CONSTRAINT FK_PC_SV FOREIGN KEY (MaSV) REFERENCES SINHVIEN(MaSV),
	CONSTRAINT FK_PC_GV FOREIGN KEY (MaGV) REFERENCES GIANGVIEN(MaGV),
	CONSTRAINT FK_PC_CB FOREIGN KEY (MaCB) REFERENCES CANBODONVI(MaCB)
)
GO

CREATE TABLE CHUCVU(
	MaChucVu varchar(10),
	TenChucVu nvarchar(30),
	PRIMARY KEY(MaChucVu),
)
GO

CREATE TABLE CHITIETTHUCTAP(
	MaSV varchar(10),
	IDKinhPhi int,
	MaDV varchar(10),
	MaGV varchar(10),
	MaCB varchar(10),
	NgayBatDauThucTap datetime,
	NgayKetThucThucTap datetime,
	PRIMARY KEY(MaSV, IDKinhPhi, MADV, MaGV, MaCB),
	CONSTRAINT FK_CTTT_SV FOREIGN KEY (MaSV) REFERENCES SINHVIEN(MaSV),
	CONSTRAINT FK_CTTT_KP FOREIGN KEY (IDKinhPhi) REFERENCES KINHPHIHOTRO(IDKinhPhi),
	CONSTRAINT FK_CTTT_DV FOREIGN KEY (MaDV) REFERENCES DONVITHUCTAP(MaDV),
	CONSTRAINT FK_CTTT_GV FOREIGN KEY (MaGV) REFERENCES GIANGVIEN(MaGV),
	CONSTRAINT FK_CTTT_CBDV FOREIGN KEY (MaCB) REFERENCES CANBODONVI(MaCB)
)
GO


CREATE TABLE DAMNHANCHUCVU(
	MaNHD varchar(10),
	MaChucVu varchar(10),
	NgayDamNhan datetime,
	PRIMARY KEY(MaChucVu, MaNHD),
)
GO

--Them du lieu Bang KHOA
INSERT INTO KHOA VALUES('K01', N'Kỹ thuật và Công nghệ')
INSERT INTO KHOA VALUES('K02', N'Sư phạm')
GO

--Them du lieu Bang BOMON
INSERT INTO BOMON VALUES('BM01', N'Công nghệ thông tin', 'K01')
INSERT INTO BOMON VALUES('BM02', N'Điện – Điện tử', 'K01')
INSERT INTO BOMON VALUES('BM03', N'Sư phạm mầm non', 'K02')
GO

--Them du lieu Bang NGANH
INSERT INTO NGANH VALUES('N01', N'Công nghệ thông tin')
INSERT INTO NGANH VALUES('N02', N'Quản trị mạng')
INSERT INTO NGANH VALUES('N03', N'Hệ thống điện')
GO

--Them du lieu Bang LOP
INSERT INTO LOP VALUES( 'DA15TT', N'Đại học Công nghệ Thông tin 2015', 'N01', 'BM01')
INSERT INTO LOP VALUES( 'DA16TT', N'Đại học Công nghệ Thông tin 2016', 'N01', 'BM01')
INSERT INTO LOP VALUES( 'DA15QTM', N'Đại học Quản trị mạng 2015', 'N02', 'BM01')
GO

--Them du lieu Bang HOCVI
INSERT INTO HOCVI VALUES( 'HV01', N'Tú tài')
INSERT INTO HOCVI VALUES( 'HV02', N'Cử Nhân')
INSERT INTO HOCVI VALUES( 'HV03', N'Kỹ Sư')
GO

--Them du lieu Bang GIANGVIEN
INSERT INTO GIANGVIEN VALUES( 'NHD01', N'Nhan Minh Phúc', '0918603800', 'nmphuc@tvu.edu.vn', 'HV06', 'BM01')
INSERT INTO GIANGVIEN VALUES( 'NHD02', N'Phan Thị Phương Nam', '0989236100', 'ptpnam@tvu.edu.vn', 'HV06', 'BM01')
INSERT INTO GIANGVIEN VALUES( 'NHD03', N'Dương Ngọc Vân Khanh', '0988332000', 'vankhanh@tvu.edu.vn', 'HV07', 'BM01')
GO

--Them du lieu Bang SINHVIEN
INSERT INTO SINHVIEN VALUES( '110117001', N'Nguyễn Minh Thư', '0123456781', '110117001@sv.tvu.edu.vn', N'Nữ', '1998-01-01', N'Trà Vinh', 'DA15TT')
INSERT INTO SINHVIEN VALUES( '110117002', N'Nguyễn Minh Minh', '0123456782', '110117002@sv.tvu.edu.vn', N'Nữ', '1998-01-05', N'Vĩnh Long', 'DA15TT')
INSERT INTO SINHVIEN VALUES( '110117003', N'Nguyễn Minh Hảo', '0123456783', '110117003@sv.tvu.edu.vn', N'Nam', '1998-01-10', N'Trà Vinh', 'DA15TT')
GO

--Them du lieu Bang KINHPHIHOTRO
INSERT INTO KINHPHIHOTRO VALUES( 1, 105, 1050000)
INSERT INTO KINHPHIHOTRO VALUES( 2, 103, 1030000)
INSERT INTO KINHPHIHOTRO VALUES( 3, 114, 1140000)
GO

--Them du lieu Bang DONVITHUCTAP
INSERT INTO DONVITHUCTAP VALUES( 'DV01', N'BStar Solutions Company', N'56 Yên Thế, Phường 2, Tân Bình, Hồ Chí Minh', '0918603812')
INSERT INTO DONVITHUCTAP VALUES( 'DV02', N'TMA Solutions', N'111 Nguyễn Đình Chính, Phường 15, Phú Nhuận, Hồ Chí Minh', '0989236113')
INSERT INTO DONVITHUCTAP VALUES( 'DV03', N'FPT Software', N'Đường D1, Khu Công Nghệ Cao, Phường Tân Phú, Quận 9, Hồ Chí Minh ', '0988332014')
GO

--Them du lieu Bang CANBODONVI
INSERT INTO CANBODONVI VALUES( 'NHD17', N'Phạm Thị Trúc Mai', '0918603804', 'pttmai@tvu.edu.vn', 'DV01')
INSERT INTO CANBODONVI VALUES( 'NHD18', N'Đoàn Phước Miền', '0989236104', 'dpmien@tvu.edu.vn', 'DV01')
INSERT INTO CANBODONVI VALUES( 'NHD19', N'Trầm Hoàng Nam', '0988332004', 'thnam@tvu.edu.vn', 'DV02')
GO

--Them du lieu Bang PHIEUCHAM
INSERT INTO PHIEUCHAM VALUES( '1', N'Phiếu Chấm Điểm', 10, '2018-09-05', N'Hoàn thành tốt, có trách nhiệm', '110117001', 'NHD01', NULL)
INSERT INTO PHIEUCHAM VALUES( '2', N'Phiếu Chấm Điểm', 9, '2018-09-05', N'Hoàn thành khá tốt', '110117002', 'NHD01', NULL)
INSERT INTO PHIEUCHAM VALUES( '3', N'Phiếu Chấm Điểm', 6, '2018-09-05', N'Cần cải thiện thêm', '110117003', 'NHD01', NULL)
GO

--Them du lieu Bang CHUCVU
INSERT INTO CHUCVU VALUES( 'CV01', N'Trưởng Khoa')
INSERT INTO CHUCVU VALUES( 'CV02', N'Phó Khoa')
INSERT INTO CHUCVU VALUES( 'CV03', N'Trưởng phòng giáo vụ')
GO

--Them du lieu Bang CHITIETTHUCTAP
INSERT INTO CHITIETTHUCTAP VALUES( '110117001', 1, 'DV01', 'NHD01', 'NHD17', '2018-06-01', '2018-08-31')
INSERT INTO CHITIETTHUCTAP VALUES( '110117002', 1, 'DV01', 'NHD01', 'NHD17', '2018-06-01', '2018-08-31')
INSERT INTO CHITIETTHUCTAP VALUES( '110117003', 1, 'DV01', 'NHD01', 'NHD17', '2018-06-01', '2018-08-31')
GO



--Them du lieu Bang DAMNHANCHUCVU
INSERT INTO DAMNHANCHUCVU VALUES( 'CV01', 'NHD01', '2015-09-01')
INSERT INTO DAMNHANCHUCVU VALUES( 'CV02', 'NHD02', '2015-12-01')
INSERT INTO DAMNHANCHUCVU VALUES( 'CV03', 'NHD03', '2015-09-01')
GO

--Kiem tra du lieu
SELECT * FROM KHOA
SELECT * FROM BOMON
SELECT * FROM NGANH
SELECT * FROM LOP
SELECT * FROM HOCVI
SELECT * FROM GIANGVIEN
SELECT * FROM SINHVIEN
SELECT * FROM KINHPHIHOTRO
SELECT * FROM DONVITHUCTAP
SELECT * FROM CANBODONVI
SELECT * FROM PHIEUCHAM
SELECT * FROM CHUCVU
SELECT * FROM CHITIETTHUCTAP
SELECT * FROM DAMNHANCHUCVU
GO

--Xoa
DROP TABLE KHOA
DROP TABLE BOMON
DROP TABLE NGANH
DROP TABLE LOP
DROP TABLE HOCVI
DROP TABLE GIANGVIEN
DROP TABLE SINHVIEN
DROP TABLE KINHPHIHOTRO
DROP TABLE DONVITHUCTAP
DROP TABLE CANBODONVI
DROP TABLE PHIEUCHAM
DROP TABLE CHUCVU
DROP TABLE CHITIETTHUCTAP
DROP TABLE DAMNHANCHUCVU
DELETE LOP
DELETE DONVITHUCTAP


GO

--Truy van
select sv.TenSV as 'Ten SV', DiemCB, DiemGV, DiemTrungBinh.[Diem Trung Binh] as 'Diem Trung Binh' 
from
	(
		select DiemCB.MaSV as 'MaSV' ,(DiemCB.DiemCB + DiemGV.DiemGV) / 2 as 'Diem Trung Binh', DiemCB.DiemCB, DiemGV.DiemGV
		from
			(
				select pc.SoDiem as 'DiemGV', sv.MaSV as 'MaSV'
				from SINHVIEN as sv, GIANGVIEN as gv, PHIEUCHAM as pc
				where sv.MaSV = pc.MaSV
				and gv.MaGV = pc.MaGV
			) as DiemGV,
			(
				select pc.SoDiem as 'DiemCB', sv.MaSV as 'MaSV'
				from SINHVIEN as sv, CANBODONVI as cb, PHIEUCHAM as pc
				where sv.MaSV = pc.MaSV
				and cb.MaCB = pc.MaCB
			) as DiemCB
		where DiemGV.MaSV = DiemCB.MaSV
	) as DiemTrungBinh, SINHVIEN as sv
where sv.MaSV = DiemTrungBinh.MaSV
GO

--Tạo View
-- Dùng view hiển thị danh sách cán bộ của từng đơn vị thực tập
create view view_DanhSachCanBo
as
select CB.MaCB, CB.TenCB, DV.TenDV
from CANBODONVI as CB, DONVITHUCTAP as DV
where CB.MaDV = DV.MaDV

	--kiem tra
	select * from view_DanhSachCanBo

-- Hiển thị danh sách giảng viên của từng bộ môn
create view view_DanhSachGiangVien
as
select gv.MaGV, gv.TenGV, bm.TenBoMon
from GIANGVIEN as gv, BOMON as bm
where bm.MaBoMon = gv.MaBoMon
	
	--kiem tra
	select * from view_DanhSachGiangVien

-- Hiển thị điểm của sinh viên (mã số sinh viên, tên sinh viên, điểm của cán bộ hướng dẫn, điểm của giảng viên hướng dẫn, điểm trung bình thực tập)
create view view_DiemSinhVien
as
select sv.MaSV,sv.TenSV as 'Ten SV', DiemCB, DiemGV, DiemTrungBinh.[Diem Trung Binh] as 'Diem Trung Binh' 
from
	(
		select DiemCB.MaSV as 'MaSV' ,(DiemCB.DiemCB + DiemGV.DiemGV) / 2 as 'Diem Trung Binh', DiemCB.DiemCB, DiemGV.DiemGV
		from
			(
				select pc.SoDiem as 'DiemGV', sv.MaSV as 'MaSV'
				from SINHVIEN as sv, GIANGVIEN as gv, PHIEUCHAM as pc
				where sv.MaSV = pc.MaSV
				and gv.MaGV = pc.MaGV
			) as DiemGV,
			(
				select pc.SoDiem as 'DiemCB', sv.MaSV as 'MaSV'
				from SINHVIEN as sv, CANBODONVI as cb, PHIEUCHAM as pc
				where sv.MaSV = pc.MaSV
				and cb.MaCB = pc.MaCB
			) as DiemCB
		where DiemGV.MaSV = DiemCB.MaSV
	) as DiemTrungBinh, SINHVIEN as sv
where sv.MaSV = DiemTrungBinh.MaSV

	--kiem tra
	select * from view_DiemSinhVien

-- Hiển thị thông tin thực tập của từng sinh viên 
-- (mã số sinh viên, tên sinh viên, ngày bắt đầu, ngày kết thúc, đơn vị thực tập, 
-- tên cán bộ hướng dẫn, tên giảng viên hướng dẫn, kinh phí hổ trợ, địa điểm thực tập)
create view view_ThongTinThucTap
as
select sv.MaSV, sv.TenSV, ct.NgayBatDauThucTap, ct.NgayKetThucThucTap, dv.TenDV, cb.TenCB, gv.TenGV, kp.SoTien, dv.DiaChiDV as 'DiaDiemTT'
from SINHVIEN as sv, CHITIETTHUCTAP as ct, CANBODONVI as cb, GIANGVIEN as gv, DONVITHUCTAP as dv, KINHPHIHOTRO as kp
where ct.MaDV = dv.MaDV
	and sv.MaSV = ct.MaSV
	and ct.MaCB = cb.MaCB
	and gv.MaGV = ct.MaGV
	and ct.IDKinhPhi = kp.IDKinhPhi

	--kiem tra
	select * from view_ThongTinThucTap
GO


--TRIGGER

-- SDT
-------CANBODONVI
create trigger trigger_sdt_CanBo
on CANBODONVI
for insert, update
as
	declare @sdt int
	select @sdt = LEN(SDTCB)
	from inserted
	if (@sdt < 10 or @sdt > 10)
	begin 
		print N'Số điện thoại phải bằng 10 chữ số'
		rollback transaction
		print N'Không thêm được'
end
	--kiem tra
	insert into CANBODONVI values ('MT01', N'Trần Mẩu Thử', '01230', 'tmthu@gmail.com', 'DV01')
	insert into CANBODONVI values ('MT01', N'Trần Mẩu Thử', '01230874691', 'tmthu@gmail.com', 'DV01') 

---------SINHVIEN
create trigger trigger_sdt_SinhVien
on SINHVIEN
for insert, update
as
	declare @sdt int
	select @sdt = LEN(SDTSV)
	from inserted
	if (@sdt < 10 or @sdt > 10)
	begin 
		print N'Số điện thoại phải bằng 10 chữ số'
		rollback transaction
		print N'Không thêm được'
end
	--kiem tra
	INSERT INTO SINHVIEN VALUES( '110117195', N'Nguyễn Minh Thư', '012341', '110117001@sv.tvu.edu.vn', N'Nữ', '1998-01-01', N'Trà Vinh', 'DA15TT')
---------DONVITHUCTAP
create trigger trigger_sdt_DonVi
on DONVITHUCTAP
for insert
as
	declare @sdt int
	select @sdt = LEN(SDTDV)
	from inserted
	if (@sdt < 10 or @sdt > 10)
	begin 
		print N'Số điện thoại phải bằng 10 chữ số'
		rollback transaction
		print N'Không thêm được'
end
	--kiem tra
	INSERT INTO DONVITHUCTAP VALUES( 'DV19', N'Trường mầm non Việt Mỹ', N'95-97 Nguyễn Sơn, phường Phú Thọ Hoà, Tân Phú, Hồ Chí Minh, Việt Nam', '098339')
--NGAY SINH
create trigger trigger_ngaysinh_SinhVien
on SINHVIEN
for insert, update 
as
	declare @ns int
	select @ns = (YEAR(GETDATE()) - YEAR(NgaySinh))
	from inserted
	if (@ns < 20) 
	begin 
		print N'Ngày hiện hành phải lớn hơn ngày sinh 20 năm'
		rollback transaction
		print N'Không thêm được'
	end

	--kiemtra
	INSERT INTO SINHVIEN VALUES( '110117195', N'Nguyễn Minh Thư', '0123411236', '110117001@sv.tvu.edu.vn', N'Nữ', '2019-01-01', N'Trà Vinh', 'DA15TT')

--So KM
create trigger trigger_soKm_KinhPhi
on KINHPHIHOTRO
for insert, update
as
	if (select Min(SoKM) from KINHPHIHOTRO) <= 0 
	begin 
		print N'Số km phải lớn hơn 0'
		rollback transaction
		print N'Không thêm được'
	end

	--kiem tra
	INSERT INTO KINHPHIHOTRO VALUES( 90, -5, 310000)
--So Tien
create trigger trigger_soTien_KinhPhi
on KINHPHIHOTRO
for insert, update
	as
	if (select Min(SoTien) from KINHPHIHOTRO) < 0 
	begin 
		print N'Số tiền phải lớn hơn hoặc bằng 0'
		rollback transaction
		print N'Không thêm được'
	end

	--Kiem tra
	INSERT INTO KINHPHIHOTRO VALUES( 90, 6, -3)


	select * from KINHPHIHOTRO

--Diem so
create trigger trigger_soDiem_PhieuCham
on PHIEUCHAM
for insert, update
as
	declare @diem float
	select @diem = inserted.SoDiem
	from inserted
	if (@diem < 0 or @diem > 10)
	begin 
		print N'Số điểm phải lơn hơn hoặc bằng 0 và nhỏ hơn hoặc bằng 10'
		rollback transaction
		print N'Không thêm được'
	end

--Ngay cham
create trigger trigger_ngayCham_PhieuCham
on PHIEUCHAM
for insert, update
as
	declare @numDay int
	select @numDay = (DATEDIFF(day, ct.NgayBatDauThucTap, ins.NgayCham))
	from inserted as ins, CHITIETTHUCTAP as ct
	where ins.MaSV = ct.MaSV
	if (@numDay < 30)
	begin 
		print N'Ngày chấm phải sau ngày thực tập ít nhất 30 ngày'
		rollback transaction
		print N'Không thêm được'
	end

	--kiem tra
	INSERT INTO PHIEUCHAM VALUES( '121', N'Phiếu Chấm Điểm', 10, '2018-06-02', N'Hoàn thành tốt, có trách nhiệm', '110117001', 'NHD01', NULL)

--Ngay ket thuc
create trigger trigger_ngayKetThuc_ChiTiet
on CHITIETTHUCTAP
for insert, update 
as
	declare @numDay int
	select @numDay = (DATEDIFF(day, NgayBatDauThucTap,NgayKetThucThucTap))
	from inserted
	if (@numDay < 30)
	begin 
		print N'Ngày kết thúc phải sau ngày bắt đầu thực tập ít nhất 30 ngày'
		rollback transaction
		print N'Không thêm được'
	end
	--kiem tra
	INSERT INTO CHITIETTHUCTAP VALUES( '110117001', 1, 'DV02', 'NHD01', 'NHD17', '2018-06-01', '2018-06-02')
-----------------------------------------
-----THỦ TỤC
-- Viết thủ tục trả về kinh phí hỗ trợ của sinh viên 
-- (với mã số sinh viên là tham số đầu vào, tham số đầu ra là kinh phí hỗ trợ).
create procedure proc_kinhPhi_SinhVien
	@maso varchar(10),
	@kinhphi float output
as
begin
	select @kinhphi = kp.SoTien
	from CHITIETTHUCTAP as ct, KINHPHIHOTRO as kp
	where kp.IDKinhPhi = ct.IDKinhPhi
		and ct.MaSV = @maso
end
go
	--Kiem tra
	declare @kp int
	exec proc_kinhPhi_SinhVien '110117048', @kp output
	print @kp


---Viết thủ tục tính điểm trung bình của sinh viên (với mã số sinh viên là tham số đầu vào)
create procedure proc_diemTB_SinhVien
	@maso varchar(10)
as
begin 
	select (sum(pc.SoDiem) / count(*)) as 'Diem TB'
	from PHIEUCHAM as pc
	where pc.MaSV = @maso
end
go
	--Kiem tra
	
	exec proc_diemTB_SinhVien '110117048'

	select * from view_DiemSinhVien


---Viết thủ tục cho biết số lượng sinh viên thực tập ở một đơn vị 
-- (với tham số đầu vào là mã đơn vị, tham số đầu ra là số lượng sinh viên)
create procedure proc_soLuong_SinhVien_TaiDonVi
	@maDV varchar(10),
	@soLuong int output
as
begin
	select @soLuong = count(*)
	from CHITIETTHUCTAP as ct
	where ct.MaDV = @maDV
end
go
	--kiem tra
	declare @soLuong int
	exec proc_soLuong_SinhVien_TaiDonVi 'DV01', @soLuon output
	print @soLuong

	select * from DONVITHUCTAP

--Viết thủ tục cho biết sinh viên có ngày bắt đầu thực tập là 1-6-2018
create proc proc_sinhVien_NgayBatDau
as
begin
	select sv.MaSV, sv.TenSV
	from CHITIETTHUCTAP as ct, SINHVIEN as sv
	where ct.MaSV = sv.MaSV
	and ct.NgayBatDauThucTap = '20180601'
end
	--Kiem tra
	exec proc_sinhVien_NgayBatDau


--Viết thủ tục cho biết tổng kinh phí hổ trợ của một năm (với tham số đầu vào là năm(int))
create proc proc_tongKP_1Nam
	@nam int
as
begin
	select sum(kp.SoTien) as 'Tong kinh phi ho tro'
	from CHITIETTHUCTAP as ct, KINHPHIHOTRO as kp
	where YEAR(ct.NgayBatDauThucTap) = @nam
	and ct.IDKinhPhi = kp.IDKinhPhi
end
	--Kiem tra
	exec proc_tongKP_1Nam 2018

--Viết thủ tục liệt kê các sinh viên không đạt sau khi thực tập (điểm trung bình < 4)
create proc proc_sinhVien_KhongDat
as
begin
	select sv.MaSV, sv.TenSV
	from  SINHVIEN as sv, view_DiemSinhVien as dsv
	where sv.MaSV = dsv.MaSV
	and dsv.[Diem Trung Binh] < 4
end
	--Kiem tra
	exec proc_sinhVien_KhongDat

--Viết thủ tục liệt kê danh sách sinh viên đi thực tập ở xa (số km > 60)
create proc proc_sinhVien_ThucTap
as
begin
	select sv.MaSV, sv.TenSV
	from  SINHVIEN as sv, KINHPHIHOTRO as kp, CHITIETTHUCTAP as ct
	where ct.IDKinhPhi = kp.IDKinhPhi
		and	sv.MaSV = ct.MaSV
		and kp.SoKM > 60
end
	--Kiem tra
	exec proc_sinhVien_ThucTap



--Giao tác
BEGIN TRAN
SAVE TRAN del
--cap nhat mau tin
	UPDATE PHIEUCHAM SET SoDiem=7 where MaSV = '110117048' and MaGV='NHD11'
	UPDATE SINHVIEN SET  SDTSV='01234567890' where MaSV='110117051'
IF @@ERROR != 0
	Begin
		PRINT 'Thuc hien khong thanh cong'
		ROLLBACK TRAN del
	end
else 
	Begin
		PRINT 'Thuc hien thanh cong'
		COMMIT TRAN
	end

	--Kiem Tra du lieu
	select * from PHIEUCHAM where MaSV='110117048' and MaGV='NHD11'


	--Phân quyền

-- Tạo nhóm
exec sp_addrole role_NguoiTrucTiepHuongDan
exec sp_addrole role_SinhVien
exec sp_addrole role_GiangVien
exec sp_addrole role_LanhDaoKhoa
exec sp_addrole role_LanhDaoBoMon
exec sp_addrole role_LanhDaoDonVi


--Tạo tài khoản đăng nhập và người dùng
	-- Tài khoản nhóm role_NguoiTrucTiepHuongDan
	exec sp_addlogin 'NHD17', '123456' 
	exec sp_adduser 'NHD17', 'pttmai'

	exec sp_addlogin 'NHD21', '123456'
	exec sp_adduser 'NHD21', 'dmphuc'

	exec sp_addlogin 'NHD19', '123456' 
	exec sp_adduser 'NHD19', 'thnam'

	exec sp_addrolemember 'role_NguoiTrucTiepHuongDan', 'pttmai'
	exec sp_addrolemember 'role_NguoiTrucTiepHuongDan', 'dmphuc'
	exec sp_addrolemember 'role_NguoiTrucTiepHuongDan', 'thnam'

	-- Tài khoản nhóm role_SinhVien
	exec sp_addlogin '110117001', '123456' 
	exec sp_adduser '110117001', 'nmthu'

	exec sp_addlogin '110117002', '123456' 
	exec sp_adduser '110117002', 'nmminh'

	exec sp_addlogin '110117003', '123456' 
	exec sp_adduser '110117003', 'nmhao'

	exec sp_addrolemember 'role_SinhVien', 'nmthu'
	exec sp_addrolemember 'role_SinhVien', 'nmminh'
	exec sp_addrolemember 'role_SinhVien', 'nmhao'

	-- Tài khoản nhóm role_GiangVien
	exec sp_addlogin 'NHD01', '123456' 
	exec sp_adduser 'NHD01', 'nmphuc'

	exec sp_addlogin 'NHD02', '123456' 
	exec sp_adduser 'NHD02', 'ptpnam'

	exec sp_addlogin 'NHD03', '123456' 
	exec sp_adduser 'NHD03', 'dnvkhanh'

	exec sp_addrolemember 'role_GiangVien', 'nmphuc'
	exec sp_addrolemember 'role_GiangVien', 'ptpnam'
	exec sp_addrolemember 'role_GiangVien', 'dnvkhanh'

	-- Tài khoản nhóm role_LanhDaoKhoa
	exec sp_addlogin 'NHD09', '123456' 
	exec sp_adduser 'NHD09', 'vphung'

	exec sp_addlogin 'NHD10', '123456' 
	exec sp_adduser 'NHD10', 'nhdthien'

	exec sp_addlogin 'NHD11', '123456' 
	exec sp_adduser 'NHD11', 'nban'

	exec sp_addrolemember 'role_LanhDaoKhoa', 'vphung'
	exec sp_addrolemember 'role_LanhDaoKhoa', 'nhdthien'
	exec sp_addrolemember 'role_LanhDaoKhoa', 'nban'

	-- Tài khoản nhóm role_LanhDaoBoMon
	exec sp_addlogin 'NHD14', '123456' 
	exec sp_adduser 'NHD14', 'nmhien'

	exec sp_addlogin 'NHD15', '123456' 
	exec sp_adduser 'NHD15', 'nthuy'

	exec sp_addlogin 'NHD16', '123456' 
	exec sp_adduser 'NHD16', 'nnlam'

	exec sp_addrolemember 'role_LanhDaoBoMon', 'nmhien'
	exec sp_addrolemember 'role_LanhDaoBoMon', 'nthuy'
	exec sp_addrolemember 'role_LanhDaoBoMon', 'nnlam'

	-- Tài khoản nhóm role_LanhDaoDonVi
	exec sp_addlogin 'NHD18', '123456' 
	exec sp_adduser 'NHD18', 'dpmien'

	exec sp_addlogin 'NHD20', '123456' 
	exec sp_adduser 'NHD20', 'kvnhut'

	exec sp_addlogin 'NHD22', '123456' 
	exec sp_adduser 'NHD22', 'dtpnam'

	exec sp_addrolemember 'role_LanhDaoDonVi', 'dpmien'
	exec sp_addrolemember 'role_LanhDaoDonVi', 'kvnhut'
	exec sp_addrolemember 'role_LanhDaoDonVi', 'dtpnam'

	-- Cấp quyền nhóm
	
		-- role_NguoiTrucTiepHuongDan
		grant insert, update, delete, select
		on PhieuCham 
		to role_NguoiTrucTiepHuongDan

		grant select
		on ChiTietThucTap
		to role_NguoiTrucTiepHuongDan

		-- role_SinhVien
		grant select
		on ChiTietThucTap
		to role_SinhVien

		grant select
		on KinhPhiHoTro
		to role_SinhVien

		grant select
		on PhieuCham
		to role_SinhVien

		-- role_GiangVien
		grant insert, update, delete, select
		on PhieuCham 
		to role_GiangVien

		grant select
		on ChiTietThucTap
		to role_GiangVien

		-- role_LanhDaoKhoa
		grant insert, update, delete, select
		on ChiTietThucTap 
		to role_LanhDaoKhoa

		-- role_LanhDaoBoMon
		grant select
		on ChiTietThucTap 
		to role_LanhDaoBoMon

		-- role_LanhDaoDonVi
		grant insert, update, delete, select
		on PhieuCham 
		to role_LanhDaoDonVi

		grant select
		on ChiTietThucTap
		to role_LanhDaoDonVi



--test quyen danq nhap
	--

	--sinh vien
	select * from PhieuCham
	select * from Khoa