CREATE DATABASE QLTT
GO

USE QLTT
GO

CREATE TABLE KHOA(
	MaKhoa varchar(10),
	TenKhoa nvarchar(30)
	PRIMARY KEY(MaKhoa),
)
GO

CREATE TABLE BOMON(
	MaBoMon varchar(10),
	TenBoMon nvarchar(30),
	MaKhoa varchar(10),
	PRIMARY KEY(MaBoMon),
	CONSTRAINT FK_BM_K FOREIGN KEY (MaKhoa) REFERENCES KHOA(MaKhoa)
)
GO

CREATE TABLE NGANH(
	MaNganh varchar(10),
	TenNganh nvarchar(30),
	MaBoMon varchar(10),
	PRIMARY KEY(MaNganh),
	CONSTRAINT FK_N_BM FOREIGN KEY (MaBoMon) REFERENCES BOMON(MaBoMon)
)
GO

CREATE TABLE LOP(
	MaLop varchar(10),
	TenLop nvarchar(50),
	MaNganh varchar(10),
	MaBoMon varchar(10),
	PRIMARY KEY(MaLop),
	CONSTRAINT FK_L_BM FOREIGN KEY (MaBoMon) REFERENCES BOMON(MaBoMon),
	CONSTRAINT FK_L_N FOREIGN KEY (MaNganh) REFERENCES NGANH(MaNganh)
)
GO

CREATE TABLE HOCVI(
	MaHV varchar(10),
	TenHV nvarchar(20),
	PRIMARY KEY(MaHV),
)
GO

CREATE TABLE GIANGVIEN(
	MaNHD varchar(10),
	TenNHD nvarchar(30),
	SDTNHD varchar(10),
	EmailNHD varchar(50),
	MaHV varchar(10),
	MaBoMon varchar(10),
	PRIMARY KEY(MaNHD),
	CONSTRAINT FK_GV_BM FOREIGN KEY (MaBoMon) REFERENCES BOMON(MaBoMon),
	CONSTRAINT FK_GV_HV FOREIGN KEY (MaHV) REFERENCES HOCVI(MaHV)
)
GO

CREATE TABLE SINHVIEN(
	MaSV varchar(10),
	TenSV nvarchar(30),
	SDTSV varchar(10),
	EmailSV varchar(30),
	GioiTinh nvarchar(3),
	NgaySinh datetime,
	QueQuan nvarchar(50),
	MaLop varchar(10),
	PRIMARY KEY(MaSV),
	CONSTRAINT FK_SV_L FOREIGN KEY (MaLop) REFERENCES LOP(MaLop),
)
GO

CREATE TABLE KINHPHIHOTRO(
	IDKinhPhi int,
	SoKM float,
	SoTien float,
	PRIMARY KEY(IDKinhPhi),
)
GO

CREATE TABLE DONVITHUCTAP(
	MaDV varchar(10),
	TenDV nvarchar(50),
	DiaChiDV nvarchar(100),
	SDTSV varchar(10),
	PRIMARY KEY(MaDV),
)
GO

CREATE TABLE CANBODONVI(
	MaNHD varchar(10),
	TenNHD nvarchar(30),
	SDTNHD varchar(10),
	EmailNHD varchar(50),
	MaDV varchar(10),
	PRIMARY KEY(MaNHD),
	CONSTRAINT FK_CBDV_DV FOREIGN KEY (MaDV) REFERENCES DONVITHUCTAP(MaDV)
)
GO

CREATE TABLE PHIEUCHAM(
	MaPhieu varchar(10),
	TenPhieu nvarchar(30),
	SoDiem float,
	NgayCham datetime,
	NhanXet nvarchar(1000),
	PRIMARY KEY(MaPhieu),
)
GO

CREATE TABLE CHUCVU(
	MaChucVu varchar(10),
	TenChucVu nvarchar(30),
	PRIMARY KEY(MaChucVu),
)
GO

CREATE TABLE CHITIETTHUCTAP(
	MaSV varchar(10),
	IDKinhPhi int,
	MaDV varchar(10),
	MaNHD1 varchar(10),
	MaNHD2 varchar(10),
	NgayBatDauThucTap datetime,
	PRIMARY KEY(MaSV, IDKinhPhi, MADV, MaNHD1, MaNHD2),
	CONSTRAINT FK_CTTT_SV FOREIGN KEY (MaSV) REFERENCES SINHVIEN(MaSV),
	CONSTRAINT FK_CTTT_KP FOREIGN KEY (IDKinhPhi) REFERENCES KINHPHIHOTRO(IDKinhPhi),
	CONSTRAINT FK_CTTT_DV FOREIGN KEY (MaDV) REFERENCES DONVITHUCTAP(MaDV),
	CONSTRAINT FK_CTTT_GV FOREIGN KEY (MaNHD1) REFERENCES GIANGVIEN(MaNHD),
	CONSTRAINT FK_CTTT_CBDV FOREIGN KEY (MaNHD2) REFERENCES CANBODONVI(MaNHD)
)
GO

--chua xong
CREATE TABLE KETQUATHUCTAP(
	MaSV varchar(10),
	MaNHD varchar(10),
	MaPhieu varchar(10),
	NgayKetThucThucTap datetime,
	PRIMARY KEY(MaSV, MaNHD, MaPhieu),
	CONSTRAINT FK_KQTT_SV FOREIGN KEY (MaSV) REFERENCES SINHVIEN(MaSV),
	CONSTRAINT FK_KQTT_NHD FOREIGN KEY (MaNHD) REFERENCES GIANGVIEN(MaNHD),
	CONSTRAINT FK_KQTT_NHD FOREIGN KEY (MaNHD) REFERENCES CANBODONVI(MaNHD),
	CONSTRAINT FK_KQTT_PC FOREIGN KEY (MaPhieu) REFERENCES PHIEUCHAM(MaPhieu)
)
GO

CREATE TABLE VAITROTHANHVIEN(
	MaChucVu varchar(10),
	MaNHD varchar(10),
	NgayDamNhan datetime,
	PRIMARY KEY(MaChucVu, MaNHD),
	CONSTRAINT FK_CTTT_GV FOREIGN KEY (MaChucVu) REFERENCES CHUCVU(MaChucVu),
	CONSTRAINT FK_CTTT_CBDV FOREIGN KEY (MaNHD) REFERENCES CANBODONVI(MaNHD)
)
GO
--Them du lieu Bang KHOA
INSERT INTO KHOA VALUES('K01', N'Kỹ thuật và Công nghệ')
INSERT INTO KHOA VALUES('K02', N'Sư phạm')

--Them du lieu Bang BOMON
INSERT INTO BOMON VALUES('BM01', N'Công nghệ thông tin', 'K01')
INSERT INTO BOMON VALUES('BM02', N'Điện – Điện tử', 'K01')
INSERT INTO BOMON VALUES('BM03', N'Sư phạm mầm non', 'K02')

--Them du lieu Bang NGANH
INSERT INTO NGANH VALUES('N01', N'Công nghệ thông tin', 'BM01')
INSERT INTO NGANH VALUES('N02', N'Quản trị mạng', 'BM01')
INSERT INTO NGANH VALUES('N03', N'Hệ thống điện', 'BM02')

--Them du lieu Bang LOP
INSERT INTO LOP VALUES( 'DA15TT', N'Đại học Công nghệ Thông tin 2015', 'N01', 'BM01')
INSERT INTO LOP VALUES( 'DA16TT', N'Đại học Công nghệ Thông tin 2016', 'N01', 'BM01')
INSERT INTO LOP VALUES( 'DA15QTM', N'Đại học Quản trị mạng 2015', 'N02', 'BM01')

--Them du lieu Bang HOCVI
INSERT INTO HOCVI VALUES( 'HV01', N'Tú tài')
INSERT INTO HOCVI VALUES( 'HV02', N'Cử Nhân')
INSERT INTO HOCVI VALUES( 'HV03', N'Kỹ Sư')

--Them du lieu Bang GIANGVIEN
INSERT INTO GIANGVIEN VALUES( 'NHD01', N'Nhan Minh Phúc', '0918603800', 'nmphuc@tvu.edu.vn', 'HV06', 'BM01')
INSERT INTO GIANGVIEN VALUES( 'NHD02', N'Phan Thị Phương Nam', '0989236100', 'ptpnam@tvu.edu.vn', 'HV06', 'BM01')
INSERT INTO GIANGVIEN VALUES( 'NHD03', N'Dương Ngọc Vân Khanh', '0988332000', 'vankhanh@tvu.edu.vn', 'HV07', 'BM01')

--Them du lieu Bang SINHVIEN
INSERT INTO SINHVIEN VALUES( '110117001', N'Nguyễn Minh Thư', '0123456781', '110117001@sv.tvu.edu.vn', N'Nữ', '1998-01-01', N'Trà Vinh', 'DA15TT')
INSERT INTO SINHVIEN VALUES( '110117002', N'Nguyễn Minh Minh', '0123456782', '110117002@sv.tvu.edu.vn', N'Nữ', '1998-01-05', N'Vĩnh Long', 'DA15TT')
INSERT INTO SINHVIEN VALUES( '110117003', N'Nguyễn Minh Hảo', '0123456783', '110117003@sv.tvu.edu.vn', N'Nam', '1998-01-10', N'Trà Vinh', 'DA15TT')

--Them du lieu Bang KINHPHIHOTRO
INSERT INTO KINHPHIHOTRO VALUES( 1, 105, 1050000)
INSERT INTO KINHPHIHOTRO VALUES( 2, 103, 1030000)
INSERT INTO KINHPHIHOTRO VALUES( 3, 114, 1140000)

--Them du lieu Bang DONVITHUCTAP
INSERT INTO DONVITHUCTAP VALUES( 'DV01', N'BStar Solutions Company', N'56 Yên Thế, Phường 2, Tân Bình, Hồ Chí Minh', '0918603812')
INSERT INTO DONVITHUCTAP VALUES( 'DV02', N'TMA Solutions', N'111 Nguyễn Đình Chính, Phường 15, Phú Nhuận, Hồ Chí Minh', '0989236113')
INSERT INTO DONVITHUCTAP VALUES( 'DV03', N'FPT Software', N'Đường D1, Khu Công Nghệ Cao, Phường Tân Phú, Quận 9, Hồ Chí Minh ', '0988332014')

--Them du lieu Bang CANBODONVI
INSERT INTO CANBODONVI VALUES( 'NHD17', N'Phạm Thị Trúc Mai', '0918603804', 'pttmai@tvu.edu.vn', 'DV01')
INSERT INTO CANBODONVI VALUES( 'NHD18', N'Đoàn Phước Miền', '0989236104', 'dpmien@tvu.edu.vn', 'DV01')
INSERT INTO CANBODONVI VALUES( 'NHD19', N'Trầm Hoàng Nam', '0988332004', 'thnam@tvu.edu.vn', 'DV02')

--Them du lieu Bang PHIEUCHAM
INSERT INTO PHIEUCHAM VALUES( '1', N'Phiếu Chấm Điểm', 10, '2018-09-05', N'Hoàn thành tốt, có trách nhiệm')
INSERT INTO PHIEUCHAM VALUES( '2', N'Phiếu Chấm Điểm', 9, '2018-09-05', N'Hoàn thành khá tốt')
INSERT INTO PHIEUCHAM VALUES( '3', N'Phiếu Chấm Điểm', 6, '2018-09-05', N'Cần cải thiện thêm')

--Them du lieu Bang CHUCVU
INSERT INTO CHUCVU VALUES( 'CV01', N'Trưởng Khoa')
INSERT INTO CHUCVU VALUES( 'CV02', N'Phó Khoa')
INSERT INTO CHUCVU VALUES( 'CV03', N'Trưởng phòng giáo vụ')

--Them du lieu Bang CHITIETTHUCTAP
INSERT INTO CHITIETTHUCTAP VALUES( '110117001', 1, 'DV01', 'NHD01', 'NHD17', '2018-06-01')
INSERT INTO CHITIETTHUCTAP VALUES( '110117002', 1, 'DV01', 'NHD01', 'NHD17', '2018-06-01')
INSERT INTO CHITIETTHUCTAP VALUES( '110117003', 1, 'DV01', 'NHD01', 'NHD17', '2018-06-01')

--Kiem tra du lieu
SELECT * FROM KHOA
SELECT * FROM BOMON
SELECT * FROM NGANH
SELECT * FROM LOP
SELECT * FROM HOCVI
SELECT * FROM GIANGVIEN
SELECT * FROM SINHVIEN
SELECT * FROM KINHPHIHOTRO
SELECT * FROM DONVITHUCTAP
SELECT * FROM CANBODONVI
SELECT * FROM PHIEUCHAM
SELECT * FROM CHUCVU
SELECT * FROM CHITIETTHUCTAP

--Xoa
DROP TABLE KHOA
DROP TABLE BOMON
DROP TABLE NGANH
DROP TABLE LOP
DROP TABLE HOCVI
DROP TABLE GIANGVIEN
DROP TABLE SINHVIEN
DROP TABLE DONVITHUCTAP
DELETE LOP
DELETE DONVITHUCTAP

--Truy van
select MaBoMon, COUNT(*)
from GIANGVIEN
GROUP BY GIANGVIEN.MaBoMon

